<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><strong>{{HospitalObj.HospitalName}}</strong></mat-card-title>
    <mat-card-subtitle class="subtitle-location">
      <mat-icon>location_on</mat-icon>{{HospitalObj.HospitalAddress}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="table-details">
      <tr>
        <td>{{HospitalObj.Tel}}</td>
        <th>:טלפונים</th>
      </tr>
      <tr>
        <td></td>
        <td><a href="javascript:void(0)" (click)="openUrl(HospitalObj.UrlAddress);">בקר באתר</a></td>
      </tr>
    </table>
    <div class="custom-carusel">
      <mat-icon class="arrow-left" (click)="onPreviousClick();">keyboard_arrow_left</mat-icon>
      <mat-icon class="arrow-right" (click)="onNextClick();">keyboard_arrow_right</mat-icon>
      <div *ngFor=" let image of images; let i = index" class="carousel-cell"
        [style.backgroundImage]="'url(assets/images/'+ image +')'" [class]="{'active':counter==i}">
      </div>
      <div class="carousel-cell-wrapper">
        <div *ngFor=" let image of images; let i = index" class="cir-carousel" [class]="{'active':counter==i}"
          (click)="counter=i;"></div>
      </div>
    </div>
    <div class="rating-wrapper">
      <p class="rating_text">
        <app-star-rating [rating]="HospitalObj.Rating1GeneralSatisfactionAvg" [starCount]="starCount"
          [color]="starColor" [isDisabled]="true" (ratingUpdated)="HospitalObj.Rating1GeneralSatisfactionAvg=$event;">
        </app-star-rating>
        <span>שביעות רצון כללית</span>
      </p>
      <p class="rating_text">
        <app-star-rating [rating]="HospitalObj.Rating2ListenAndRelateAvg" [starCount]="starCount" [color]="starColor"
          (ratingUpdated)="HospitalObj.Rating2ListenAndRelateAvg=$event;" [isDisabled]="true"></app-star-rating>
        <span>יחס וכבוד
          למטופל</span>
      </p>
      <p class="rating_text">
        <app-star-rating [rating]="HospitalObj.Rating3GettingHelpEasilyAvg" [starCount]="starCount" [color]="starColor"
          (ratingUpdated)="HospitalObj.Rating3GettingHelpEasilyAvg=$event;" [isDisabled]="true"></app-star-rating>
        <span>מתן מידע ובהירות</span>
      </p>
      <p class="rating_text">
        <app-star-rating [rating]="HospitalObj.Rating4SharingInformationAvg" [starCount]="starCount" [color]="starColor"
          (ratingUpdated)="HospitalObj.Rating4SharingInformationAvg=$event;" [isDisabled]="true"></app-star-rating>
        <span>העצמת המטופל</span>
      </p>
      <p class="rating_text">
        <app-star-rating [rating]="HospitalObj.Rating5AnEfficientProcessAvg" [starCount]="starCount" [color]="starColor"
          (ratingUpdated)="HospitalObj.Rating5AnEfficientProcessAvg=$event;" [isDisabled]="true"></app-star-rating>
        <span> יעילות</span>
      </p>
      <p class="rating_text">
        <app-star-rating [rating]="HospitalObj.Rating6ConditionsOfHospitalizationAvg" [starCount]="starCount"
          [color]="starColor" (ratingUpdated)="HospitalObj.Rating6ConditionsOfHospitalizationAvg=$event;"
          [isDisabled]="true">
        </app-star-rating><span>תנאי אשפוז</span>
      </p>
      <p class="rating_text">
        <app-star-rating [rating]="HospitalObj.Rating7PreventionOfMedicalErrorsAvg" [starCount]="starCount"
          [color]="starColor" (ratingUpdated)="HospitalObj.Rating7PreventionOfMedicalErrorsAvg=$event;"
          [isDisabled]="true">
        </app-star-rating> <span>בטיחות המטופל</span>
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="div-dep-wrapper">
      <a *ngFor="let dep of DepartmentArr" routerLink="/department/{{dep.DepartmentId}}"> {{dep.FullName}} | </a>
    </div>
    <mat-card class="mat-card-opinion" *ngFor="let opinion of OpinionArr">
      <mat-icon class="icon-forum">forum</mat-icon>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="mat-card">{{opinion.Departments.FullName}}</mat-card-title>
      <mat-card-subtitle id="mat-card">המשתמש {{opinion.Users.UserName}} כתב/ה את חוות דעת</mat-card-subtitle>
      <mat-card-content>
        <strong>{{opinion.Title}}</strong>
        <p *ngIf="openId != null && openId==opinion.OpinionId" class="comment_more_ratings">{{opinion.Summary}}</p>
        <div class="div-open-wrapping"><a href="javascript:void(0)" (click)="openFunc(opinion.OpinionId)"><span>
            </span>{{text(opinion.OpinionId)}}</a></div>
      </mat-card-content>
    </mat-card>
    <mat-paginator *ngIf="OpinionArr && OpinionArr.length >0" [length]="length" [pageSize]="pageSize"
      (page)="pageEvent = getServerData($event)">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
