<div class="container-wrapper">
  <div class="container">
    <p><a routerLink="/home">בית</a> /אודות</p>
  </div>
  <div class="about-wrapper">
    <h1 class="about-header">אודותינו</h1>
    <p>
      האתר MCR הינו אתר חברתי הנותן חוות דעת לאזרח על השירות הניתן בבתי החולים. חוות הדעת הם א
      בייקטיביות
      ומשקפות את המידע האמיתי מכיון שלאתר אין כל שייכות לבית חולים מסוים,
      המשתמש יכול לצפות בדירוג שביעות רצון ,בבתי החולים השונים ובמחלקותיהם וכל זה בהתאם למיקומו הגיאוגרפי של הגולש
      ובהתאם לתחום הרפואי הנדרש עבורו וע"י סינונים המותאמים לבחירתו האישית.
      כל מטופל יכול להכנס לאתר ולמלא שאלון על השירות שקיבל.אך לצורך אבטחת המידע חוות הדעת יובדקו ע"י הנהלת
      האתר,ובמידה ותכונן אינו ראוי הן תוסרנה מן האתר, כך כל אדם המעוניין בשירות בבית חולים יכול להשוות את שביעות
      הרצון של המחלקה או התחום שלשרותו הוא זקוק בין בתי החולים. האתר נוח לשימוש, מוצג בצורה ברורה ומאירה לעניים.
    </p>
    <p>מטרתינו היא אחת ויחידה,לסייע לאנשים להגיע ל
      מקום שמתנהל בצורה הטובה ביותר ושרב האנשים המליצו על המקום הזה
      כמקום עם שירות מצוין ולקבל את הטיפול הטוב ביותר עבורו. ולעומת זאת למנוע מאנשים עוגמת נפש.</p>
    <h2>נהיה בקשר</h2>
    <p class="about-footer">אנחנו נשמח לשמוע ממך. אם יש לך הערות, שאלות או הצעות, אל תהסס לפנות אלינו.</p>
  </div>
  <div class="div-logo">
    <img src="../../assets/images/לוגו חדש ללא רקע אפור.png">
    <p>medicalservicerating@gmail.com : צור קשר</p>
  </div>
</div>
