<div class="table-holder">
  <div class="title-holder">
    <h1 class="list-title">בתי חולים</h1>
  </div>
  <mat-icon class="plus" (click)="addNewlineHospital();">add_circle_outline</mat-icon>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="HospitalName">
      <th mat-header-cell *matHeaderCellDef> שם </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="element.ISEDITED" [(ngModel)]="element.HospitalName">
        <span *ngIf="!element.ISEDITED">{{element.HospitalName}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="HospitalAddress">
      <th mat-header-cell *matHeaderCellDef> כתובת בית חולים </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="element.ISEDITED" [(ngModel)]="element.HospitalAddress">
        <span *ngIf="!element.ISEDITED">{{element.HospitalAddress}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="IsConfirmed">
      <th mat-header-cell *matHeaderCellDef>האם אושר</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox *ngIf="element.ISEDITED" [(ngModel)]="element.IsConfirmed"></mat-checkbox>
        <span *ngIf="!element.ISEDITED">{{element.IsConfirmed? 'כן':'לא'}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Tel">
      <th mat-header-cell *matHeaderCellDef>טלפון</th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="element.ISEDITED" [(ngModel)]="element.Tel">
        <span *ngIf="!element.ISEDITED">{{element.Tel}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="HosImage">
      <th mat-header-cell *matHeaderCellDef>הוספת תמונה</th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="element.ISEDITED" type='file' multiple (change)="onSelectFiles($event)">
        <span *ngIf="!element.ISEDITED">
          <img *ngFor="let image of element.images" src="../../../assets/images/{{image}}" width="35" height="30"
            class="img-ho">
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> עריכה </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="element.ISEDITED=!element.ISEDITED">
          <mat-icon class="mat-18" *ngIf="!element.ISEDITED">edit</mat-icon>
          <mat-icon class="mat-18" *ngIf="element.ISEDITED" (click)="redirectToUpdate(element.HospitalId)">done
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Cancel">
      <th mat-header-cell *matHeaderCellDef> ביטול </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="redirectToCancel(element.HospitalId)">
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> מחיקה </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="redirectToDelete(element.HospitalId)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
